* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
  }

.cliente-list {
    padding: 16px;
    background-color: #232323;
    border-radius: 08px;
    max-width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: 221, 221, 221;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    overflow-y: auto;
    overflow-x: auto;
}

.cliente-list h1 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(221, 221, 221);
    font-weight: bold;
}

.cliente-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.cliente-form input {
    padding: 08px;
    border: 2px solid #ccc;
    border-radius: 08px;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    background: rgb(54, 54, 54);
    color: white;    
    
}

.cliente-list-items {
    list-style: none;
    padding: 0;
    display: grid;
}

.cliente-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.cliente-buttons {
    gap: 8px;
    display: flex;
}




