/* src/components/PedidoList.css */
.pedido-list {
    padding: 16px;
    background-color:  #232323;
    border-radius: 08px;
    max-width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

.pedido-list h1 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(221, 221, 221);
}

.pedido-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.pedido-form select,
.pedido-form input {
    padding: 08px;
    border: 2px solid #ccc;
    border-radius: 08px;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    background: rgb(54, 54, 54);
    color: white;    
    
}

.produto-selection {
    display: flex;
    gap: 10px;
}

.pedido-produtos-list {
    list-style: none;
    padding: 0;
}

.pedido-produto-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.pedido-list-items {
    list-style: none;
    padding: 0;
}

.pedido-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.pedidos-buttons {
    gap: 8px;
    display: flex;
}